.categoryRow {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  margin-bottom: 20px;
  margin-left: 15px;
  background-color: none;
}


button {
  background: none;
  border: none;
  font-size: 20px; 
  color: grey;
  font-weight: 700; 
  margin-top: 10px;
  cursor: pointer;
  outline: none; 
  padding: 10px 20px;


}

button:hover {
  background-color: none;
}


button.active {
  color: black;
  font-weight: bold;
}

h3 {
  margin-left: 22px;
}
.schedule-item h3 {
  margin-right: 20px;
  color: #333;
  
}


.blueButton {
  background-color: rgb(255, 0, 47);
  color: white;
  border-radius: 30px; 
  right: 15px;
  margin-right: 2px;

}


.blueButton.active {
  background-color: rgb(255, 0, 47);
  color: white; 
  display: flex;
  position: relative;
  left: 189px;

}

.scheduleContainer {
  width: 100%; 
  width: 372px;
  max-height: 370px;
  overflow-y: auto;
  margin: 0 auto; 
  text-align: left;
}

.daySchedule h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.scheduleBox {
  border: 1px solid #aeaeae;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 20px;
  text-align: left;
  
}

.placeholder label {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer; 
}
