.HeaderContainer {
    width: 375px;
    height: 28px;  
    position: relative;
    cursor: pointer;
}

.HeaderContainerWrap {
    cursor: pointer;
}

.HeaderContainerWrap img {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    bottom: 340px;
    cursor: pointer;
}

