@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;

    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 1px;
}

.flex {
    display: flex;
    height: 15px;
}

.container {
    height: 100vh;
    width: 375px;
    margin: 0 auto;
    background-color: white;
}

.space {
    margin-bottom: 25px;

}

.label {
    font-style: bold;
    font-size: 20px;
    display: inline-block;
}

.nav_container {
    display:flex;
    justify-content: space-between;
    width: 375px;
    background-color: white;

}

.input_container {
    padding: 18px 0px;
    height: auto;
    width: 375px;
    margin: 0px;

}

.main_button {
    font-size: 25px;
    border-radius: 30px;
    font-weight: 600;
    background-color: #d3d3d3;
    color: black;
    border: none;
    padding: 5px 15px;
}


.main_button a {
    font-size: 25px;
    font-style: bold;
    color: #d3d3d3;
    text-decoration: none;
}

.save_button {
    background-color: rgba(0, 255, 255, 0.527);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    padding: 5px 12px;
    margin-left:30x;
}

.save_button:hover {
    cursor: pointer;
}

.other_button a {
    font-size: 25px;
    font-weight: 600;

    color: #d3d3d3;

    text-decoration: none;
}

.other_button {
    font-size: 25px;
    font-style: bold;
    border-radius: 30px;
    background-color: white;
    color: none;
    border: none;
    padding: 7px 10px;
    text-decoration: none;
}

.goal_button:hover {
    cursor: pointer
}

.goal_other:hover {
    cursor: pointer
}

.input {
    width: 345px;
    height: 65px;
    color: rgba(0, 0, 0, 0.596);
    border: 2px solid #55555550;
    border-radius: 11px;
    margin-top: 10px;
    padding: 5px 15px;
    caret-color: transparent;
    font-size: 17px
}

.input_large {
    width: 345px;
    color: rgba(0, 0, 0, 0.596);
    height: 350px;
    border: 2px solid #55555550;
    border-radius: 11px;
    margin-top: 10px;
    padding: 5px 15px;
    caret-color: transparent;
    font-size: 17px;
}

.input:focus {
    outline: none;
}

.input_large:focus {
    outline: none;
}

/* .filebox  {
    display: inline-block;
    height: 45px;
    width: 375px;
    padding: 0 10px;
    margin: 10px 0;
    margin-right: 5px;
    border-radius: 10px;
    vertical-align: middle;
    border: 2px solid #dddddd;
    width: 78%;
    color: #999999;
    font-size: 17px
} */
.upload {
    display: inline-block;
    height: 45px;
    width: 345px;
    padding: 0 10px;
    margin: 10px 0;
    margin-right: 5px;
    border-radius: 10px;
    vertical-align: middle;
    border: 2px solid #dddddd;
    color: #999999;
    font-size: 17px}


.upload:focus {
    outline: none;
}

.filebox label {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 45px;
    margin-left: 17px;
    font-size: 17px
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}