label {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 22px;
  margin-left: 10px;
}
.dis {
  display: none;
}
.None {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.PCon {
  width: 375px;
  padding: 0px;
  margin: 0px;
}
.Container {
  display: flex;
  width: 375px;
  height: 97vh;
  flex-direction: column;
  margin: 10px auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15);
}
form {
    padding: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Tag {
  font-style: bold;
    width: 98%;
    text-align: start;
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0;
    text-align: left;
}

.Input {
width: 90%;
  height: 50px;
  margin-bottom: 15px;
  ;
  color: rgba(0, 0, 0, 0.596);
  border: 1.7px solid #55555550;
  border-radius: 11px;
  padding: 5px 15px;
  caret-color: transparent;
  font-size: 17px;
}
.Input:focus {
  outline: none;
}
.Input::placeholder {
  color: rgb(255, 196, 93);
  font-style: italic;
  font-weight: 200;
}
.Navbar {
  display: flex;
    width: 95%;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 15px;

}
.Navbar > div {
  flex-grow: 2;
}

.Picture {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: 63%;
  color: #999999;
}

.Btn {
  font-size: 23px;
  letter-spacing: 1px;
  font-style: bold;
  border-radius: 30px;
  background-color: white;
  color: none;
  border: none;
  padding: 7px 0px;
  margin-right: 20px;
}

button.Btn > a {
  font-size: 23px;
  font-weight: 500;
  color: #d3d3d3;
  text-decoration: none;
}

button.Btn:last-child {
  background-color: rgba(0, 255, 255, 0.527);
  color: white;
  font-size: 20px;
  border: none;
  font-weight: 500;
  border-radius: 30px;
  padding: 0px 12px;
  margin-left: 30x;
  margin-right: 0px;
}
.selected {
  font-size: 23px;
  letter-spacing: 1px;
  font-style: bold;
  border-radius: 30px;
  background-color: white;
  color: none;
  font-weight: 500;
  border: none;
  padding: 7px 0px;
  margin-right: 30px;
}
.selected > a {
  color: black;
  text-decoration: none;
}
.Btn:hover {
  cursor: pointer;
}

