.SelectDiv {
  width: 100%;
}
.Container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:first-child {
    font-size: 15px;
    flex: 1;
  }
}
.Btn {
  font-weight: 700;
  font-size: 17px;
  color: grey;
  padding-left: 30px;
  background-color: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
