.profileEditWrap {
  background-color: rgb(247, 247, 247);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profileEdit {
  width: 375px;
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  padding: 0 40px;
  padding-top: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15);
  overflow: scroll;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 0;
}

.header h1 {
  font-size: 1.2em;
  margin: 0;
  padding: 0 20px;
}

.completeBtn {
  background-color: rgb(0, 183, 255);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 15px;
  width: 60px;
}

.profileImageSection {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.imageCircle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid rgb(0, 175, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.imageAction {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 10px;
}

.justinput {
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 10px;
  padding: 13px;
  width: 350px;
  border: 1px solid gray;
  border-radius: 5px;
}

.justtextarea {
  height: 100px;
  resize: none;
}

.photoBtn {
  width: 100px;
  margin-top: 20px;
  margin-right: 30px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 13px;
}

.logoutBtn {
  width: 350px;
  margin-top: 50px;
  margin-left: 5px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 30px;
}
