.calendarNavigation {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 7px;
  margin-right: 2cqw;
}

.calendarWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.calendarbtn {
  background-color: #f5f5f5;
  border: none;
  padding: 5px 8px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 5px;
}

.calendarbtn:hover {
  background-color: #e0e0e0;
}

.calendarContainer {
  display: flex;
  box-sizing: border-box;
}

.calendar-day {
  flex: 1;
  text-align: center;
  padding: 2px;
  margin-right: 2px;
  box-sizing: border-box;
}

.calendarDay:hover {
  cursor: pointer;
}

.calendarDayName {
  font-weight: bold;
  margin-bottom: 10px;
}

.calendarDay:last-child {
  margin-right: 0;
}

.calendarDay:nth-child(1) .calendarDayName {
  color: red;
}

.calendarDay:nth-child(7) .calendarDayName {
  color: blue;
}

.calendarDayNumber.today {
  background-color: rgb(0, 183, 255);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 700;
  box-shadow: 0 0 0 5px rgb(0, 183, 255);
  line-height: normal;
}
.calendarDay:hover .calendarDayNumber {
  font-weight: 700;
}

.dateSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 25px;
}

.modal {
  position: absolute;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
  top: 30px;
}

.modal div {
  text-align: center;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ffffff;
  transition: background-color 0.3s;
  font-size: 16px;
}

.modal div:hover {
  background-color: rgb(0, 183, 255);
}

.calendarNavigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.calendarContainer {
  display: flex;
  gap: 10px;
}

.calendarIcon {
  cursor: pointer;
}
