.ThumbnailContainer {
  display: flex;
  overflow-x: auto;
  width: calc(95px * 4); 
  white-space: nowrap;
  margin: 10px;
  margin-top: -130px;
  margin-bottom: 30px;
  
}

.bigBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.thumbnailBox {
  flex: 0 0 auto;
  width: 110px;
  height: 110px;
  margin-right: 10px;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid #f7f7f7; 
  cursor: pointer;
}

.thumbnailBox:hover {
  border: solid 2px rgb(255, 230, 0);
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.loadMore {
  flex: 0 0 auto;
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: #f7f7f7;
  border: 2px solid #f7f7f7;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loadMore:hover {
  background-color: #e0e0e0;
}

.thumnailTitle {
  width: 100%;
  height: 10px;
  background-color: aqua;
  
}

.loadMore:hover {
  background-color: #e0e0e0;
}

/* 제목 및 기간을 담는 박스 */
.goalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

/* 제목과 기간의 공통 폰트 크기 */
.goalTitle, .goalPeriod {
  font-size: 12px;
}

/* 제목만 볼드체와 더 큰 폰트로 */
.goalTitle {
  font-weight: bold;
  font-size: 15px;
}

