/* .Container {
  display: flex;
  width: 375px;
  height: 100vh;
  flex-direction: column;
  margin: 0px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15);
}

.Tag {
  font-style: bold;
  width: 98%;
  text-align: start;
  font-size: 18px;
  font-weight: 600;
  padding: 7px 7px;
  text-align: left;
}
.Input {
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.596);
  border: 1.2px solid rgb(220, 220, 220);
  border-radius: 11px;
  padding: 5px 15px;
  caret-color: transparent;
  font-size: 17px;
}
.Input:focus {
  outline: none;
}
.Input::placeholder {
  color: rgb(255, 196, 93);
  font-style: italic;
  font-weight: 200;
}

.Navbar {
  margin-bottom: 10px;
  display: flex;
  padding: 1.2rem 0;
  padding-left: 1.2rem;
  width: 95%;
  justify-content: space-around;
  flex-direction: row;
  div {
    flex-grow: 2;
  }
}

.Btn {
  font-size: 23px;
  letter-spacing: 1px;
  font-style: bold;
  border-radius: 30px;
  background-color: white;
  color: none;
  border: none;
  padding: 7px 0px;
  padding-top: 0px;
  margin-right: 20px;
}
.Btn a {
  color: #d3d3d3;
  text-decoration: none;
  font-size: 23px;
}
.Btn:hover {
  cursor: pointer;
}
.Selected {
  font-size: 23px;
  letter-spacing: 1px;
  font-style: bold;
  border-radius: 30px;
  background-color: white;
  color: none;
  font-weight: 500;
  border: none;
  padding: 7px 0px;
  padding-top: 0px;
  margin-right: 30px;
}
.Btn:last-child {
  color: white;
  font-size: 20px;
  border: none;
  font-weight: 500;
  border-radius: 30px;
  padding: 0px 12px;
  margin-left: 30px;
  margin-right: 0px;
  background-color: rgba(0, 255, 255, 0.527);
}
.Selected > a {
  color: black;
  text-decoration: none;
}
select {
  height: 30px;
} */
