.todoList {
  width: 360px;
  font-family: 'Arial', sans-serif;
  margin-top: 10px;
  margin-left: 9px;
  height: 100vh; 
  overflow: hidden; 
 
}

.taskList {
  max-height: calc(100vh - 80px); 
  overflow-y: auto; 
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.addTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.addTask input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  outline: none;
  transition: border-color 0.3s;
  background: none;
}

.addTask input:focus {
  border-color: rgb(0, 183, 255);
}

.addTask button {
  font-family: Arial, sans-serif;
  background-color: transparent;
  color: rgb(0, 183, 255);
  border: none;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;  
  cursor: pointer;
  transition: color 0.3s;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addTask button:hover {
  background-color: rgb(0, 183, 255);
  color: #fff;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  min-height: 30px;
}

.task.completed {
  opacity: 0.5;
}

.task input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.task input[type="checkbox"]:checked:before {
  content: "\2713"; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task input[type="checkbox"]:checked {
  background-color:  rgb(0, 183, 255);
  color: white;
}

.task input[type="text"] {
  width: 100%;
  word-wrap: break-word; 
  border: 1px solid #ccc;
  padding: 5px;
  white-space: normal; 
  min-height: 30px;
  display: inline-block;
}

.task span {
  cursor: pointer;
  flex-grow: 1;
  font-size: 0.9em;
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;

  display: inline-block; 
}


.task > div:last-child {
  display: flex;
}


.task.completed span {
  text-decoration: line-through; 
}

.task button {
  background: none;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  color:  rgb(0, 183, 255);
  transition: color 0.3s;
  text-decoration: none;
  width: 45px;            
  text-align: center;  
  width: 50px;  
}

.task button:hover {
  color: rgb(0, 183, 255);
}

.task textarea {
  width: 100%;
  word-break: break-all;
  overflow-wrap: break-word;
  border: 1px solid #ccc;
  padding: 5px;
  resize: none; 
  min-height: 30px; 
}